<!doctype html>
<html>

<head>
    <title>European Soccer</title>
    <meta name="description" content="European Soccer">
    <meta name="keywords" content="European Soccer">
    <style type="text/css">
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 150px;
            padding: 0px;
            background-image: url('static/images/background.jpg');
            background-size: cover;
        } 
        .form {
            display: flex;
            flex-direction: column;
            padding: 3rem;
        }
    </style>
</head>

<body>
</body>
    <div>{{predict}}</div>
    <a href="/">Go Back</a>
</html>